<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스에서 접근할 사용자 정의 클래스 타입에 대한 Alias(별칭) 설정 -->
	<typeAliases>
		<typeAlias type="com.itwillbs.soneson.vo.UserVO" alias="User"/>
		<typeAlias type="com.itwillbs.soneson.vo.AuthInfoVO" alias="AuthInfo"/>
		<typeAlias type="com.itwillbs.soneson.vo.EventCateVO" alias="EventCate"/>
		<typeAlias type="com.itwillbs.soneson.vo.EventVO" alias="Event"/>
		<typeAlias type="com.itwillbs.soneson.vo.QnaCateVO" alias="QnaCate"/>
		<typeAlias type="com.itwillbs.soneson.vo.QnaVO" alias="Qna"/>
		<typeAlias type="com.itwillbs.soneson.vo.ProjectVO" alias="Project"/>
		<typeAlias type="com.itwillbs.soneson.vo.FundingVO" alias="Funding"/>
		<typeAlias type="com.itwillbs.soneson.vo.ProItemVO" alias="Item"/>
		<typeAlias type="com.itwillbs.soneson.vo.AddressVO" alias="Address"/>
		<typeAlias type="com.itwillbs.soneson.vo.ChatVO" alias="Chat"/>
	</typeAliases>
</configuration>
  