.eGtYeZ {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cEyyoc {
    width: 1160px;
}

.ePPrSF {
    width: 1032px;
    padding-bottom: 3rem;
    margin: 0px auto;
}

.jqMDnB {
    height: 214px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    align-items: center;
    order: 1;
}

.edHMaW {
    text-align: center;
    margin: 0px auto;
    padding: 1rem;
}

.gObYWz {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: rgb(117, 117, 117);
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
}

.jUqLs {
    width: 594px;
    height: auto;
    order: 2;
}

.dEXpQY {
    display: block;
    margin: 0px;
    height: 100%;
}

.lbnhcX {
    overflow-x: visible;
}
.dEXpQY .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
}

.dEXpQY .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    -webkit-box-align: center;
    align-items: center;
}

.dEXpQY .swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.eKEnRF {
    max-height: 445px;
}
.dEXpQY .swiper-slide img {
    width: 100%;
    vertical-align: bottom;
}
.dEXpQY .swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.eKEnRF {
    max-height: 445px;
}

.eKEnRF {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 244px;
/*     max-height: 317px; */
    margin: 0px;
    padding: 0px;
    background: url(/wpa/b092e02….png) center center no-repeat rgb(252, 252, 252);
    display: inline-flex;
    overflow: hidden;
}

.HbjsT {
    min-height: 280px;
    width: 100%;
    display: block;
    margin: 0px 0px 8px;
    padding: 0px;
}

.eKEnRF {
    max-height: 445px;
}

.gLbMmE {
    order: 3;
    -webkit-box-flex: 1;
    flex: 1 1 0px;
    margin: 0px 0px 0px 86px;
}

.HbjsT {
    min-height: 280px;
    width: 100%;
    display: block;
    margin: 0px 0px 8px;
    padding: 0px;
}

.ePQNCs {
    font-size: 2.75rem;
}

.kzkxoz {
    margin-right: 10px;
}

.hPYEXD {
    font-size: 1rem;
}

.hIweQS {
    font-size: 1.3rem;
}

.fXsdBd:nth-child(2) {
    padding: 0px;
}

.fPBHBs {
    font-size: 1rem;
    margin-bottom: 1rem !important;
}

.gLbMmE {
    order: 3;
    -webkit-box-flex: 1;
    flex: 1 1 0px;
    margin: 0px 0px 0px 86px;
}

.gLbMmE {
    order: 3;
    -webkit-box-flex: 1;
    flex: 1 1 0px;
    margin: 0px 0px 0px 86px;
}

.HbjsT {
    min-height: 280px;
    width: 100%;
    display: block;
    margin: 0px 0px 8px;
    padding: 0px;
}

.fXsdBd {
    margin: 0px 0px 1.75rem;
}

.fPBHBs {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.ePQNCs {
    font-size: 2.75rem;
}

.kzkxoz {
    margin-right: 10px;
}

.hPYEXD {
    font-size: 1rem;
}

.hIweQS {
    font-size: 1.3rem;
}

.byUOaQ {
    display: block;
    flex: 0 1 352px;
    max-width: 352px;
    padding-top: 25px;
}

.byUOaQ {
    order: 2;
    width: 100%;
    margin: 0px;
}

.jIXHGV {
    min-height: 500px;
}

.jIXHGV {
    width: 100%;
}

.lhSlYW {
    margin-bottom: 24px;
    display: block;
}

.erjXLJ img.m-img {
    display: none;
}

.erjXLJ img.pc-img {
    display: block;
}

.doOMJs {
    display: block;
}

.fpENpF {
    padding: 20px 16px;
}

.dkwthg {
    display: block;
    padding: 5px 0px 20px;
}

.jqFoCK {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cEyyoc {
    width: 1160px;
}

.gSdKJj {
    width: 1040px;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 38px;
    margin: 0px auto;
}

.hxzuom {
    flex: 1 1 650px;
}

.bhmjON {
    min-height: 500px;
}

.fdxuqF {
    padding: 0px 15px;
}

.blvrlR {
    background: none;
    padding: 0px;
}

.gZnims {
    width: 620px;
    height: 64px;
    padding: 16px 0px;
}

.byUOaQ {
    display: block;
    flex: 0 1 352px;
    max-width: 352px;
    padding-top: 25px;
}


.jIXHGV {
    min-height: 500px;
}

.lhSlYW {
    margin-bottom: 24px;
    display: block;
}

.doOMJs {
    display: block;
}

.dkwthg {
    display: block;
    padding: 5px 0px 20px;
}

.jZceGY {
    display: block;
}

.hLwfvj {
    margin-top: 20px;
}