.eGtYeZ {
    background-color: rgb(255, 255, 255);
    border-bottom: 6px solid rgb(240, 240, 240);
    width: 100%;
}

.cEyyoc {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.ePPrSF {
    display: flex;
    flex-wrap: wrap;
}

.jqMDnB {
    width: 100%;
    height: auto;
    order: 2;
    display: flex;
    align-items: flex-start;
}

.edHMaW {
    display: block;
    text-align: left;
    margin: 0px;
    padding: 1.75rem 1rem;
}

.gObYWz {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: rgb(117, 117, 117);
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
}

.jUqLs {
    width: 100%;
    height: auto;
    margin: 0px;
    order: 1;
}

.dEXpQY {
    display: block;
    margin: 0px;
    height: 100%;
}

.lbnhcX {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.dEXpQY .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
}

.dEXpQY .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    -webkit-box-align: center;
    align-items: center;
}

.dEXpQY .swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.klppFc {
    height: 100%;
    width: 100%;
    min-height: 244px;
    max-height: 317px;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.dqRjJQ video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eKEnRF {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 244px;
    max-height: 317px;
    margin: 0px;
    padding: 0px;
    background: url(/wpa/b092e02….png) center center no-repeat rgb(252, 252, 252);
    display: inline-flex;
    overflow: hidden;
}

.dEXpQY .swiper-slide img {
    width: 100%;
    vertical-align: bottom;
}

.lbnhcX .swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
}
.eKEnRF img {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    object-fit: cover;
}

.eKEnRF {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 244px;
    max-height: 317px;
    margin: 0px;
    padding: 0px;
    background: url(https://tumblbug.com/wpa/b092e02bfb24cf713ec1d34b712d2528.png) center center no-repeat rgb(252, 252, 252);
    display: inline-flex;
    overflow: hidden;
}

    
.dEXpQY .swiper-slide img {
    width: 100%;
    vertical-align: bottom;
}
.lbnhcX .swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
}
.eKEnRF img {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    object-fit: cover;
}

.dEXpQY .swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.dEXpQY .swiper-pagination {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}

.dEXpQY .swiper-pagination-bullet {
    display: block;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-left: 10px;
}

.dEXpQY .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background: rgb(13, 13, 13);
}

.dEXpQY .swiper-button-prev {
    left: 0px;
    transform: translate(-100%, -50%);
}
.dEXpQY .swiper-button-next, .dEXpQY .swiper-button-prev {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 18px 18px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.dEXpQY .swiper-button-next {
    right: 0px;
    transform: translate(100%, -50%);
}

.dEXpQY .swiper-button-next, .dEXpQY .swiper-button-prev {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 18px 18px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.gLbMmE {
    width: 100%;
    order: 3;
}

.HbjsT {
    width: 100%;
    order: 4;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem 1.5rem;
}

.fXsdBd {
    margin: 0px;
}

.fPBHBs {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    word-break: keep-all;
}

.ePQNCs {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}

.kzkxoz {
    margin-right: 7px;
    white-space: nowrap;
}

.hPYEXD {
    font-size: 0.85rem;
    margin-left: 0.25rem;
}

.hIweQS {
    display: inline;
    font-size: 0.9rem;
    font-weight: bolder;
    word-break: keep-all;
}

.fXsdBd:nth-child(2) {
    padding: 0px 15px;
}

.fXsdBd {
    margin: 0px;
}

.jGpUCY {
    order: 5;
    background-color: rgb(255, 255, 255);
    padding: 0px 1rem;
}

.dLRgOT {
    padding: 20px 0px;
    border-top: 1px solid rgb(244, 244, 244);
}

.dsitt {
    margin: 0px;
    display: flex;
}

.cSBHrX {
    width: 56px;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.Hysth {
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(61, 61, 61);
    font-size: 13px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.dsitt:not(:first-child) {
    margin-top: 8px;
}
.dsitt {
    margin: 0px;
    display: flex;
}

.cSBHrX {
    width: 56px;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.Hysth {
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(61, 61, 61);
    font-size: 13px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.cfyFBE {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    margin-left: 6px;
    padding: 2px 6px;
    background-color: rgb(253, 244, 243);
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    color: rgb(255, 87, 87);
}

dsitt:not(:first-child) {
    margin-top: 8px;
}
.dsitt {
    margin: 0px;
    display: flex;
}

.cSBHrX {
    width: 56px;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.Hysth {
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(61, 61, 61);
    font-size: 13px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.kVlPhN {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 1rem;
    margin-bottom: 24px;
}

.hYODMV {
    padding: 0px 16px;
}

.jODFjn {
    padding: 6px 0px;
    background-color: rgba(240, 240, 240, 0.5);
    display: block;
}

.erjXLJ {
    width: 100%;
    cursor: pointer;
}

.iOjccU {
    display: block;
    border-top: 1px solid rgb(244, 244, 244);
}

.gOXjRK {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
}

.fpENpF {
    padding: 20px 16px;
}
.dkwthg {
    margin: 0px;
    font-weight: bolder;
    display: none;
}

.jqFoCK {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.iNlJa-D {
    display: flex;
    -webkit-box-align: start;
    align-items: start;
}

.gFiWmy {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.odjCI {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px 6px;
    flex-wrap: wrap;
}

.kLwAlh {
    font-weight: 500;
    color: rgb(109, 109, 109);
    font-size: 11px !important;
    line-height: 18px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.jZceGY {
    display: none;
    font-weight: 400;
    color: rgb(109, 109, 109);
    padding-top: 18px;
    font-size: 13px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    line-height: 22px !important;
}

.hLwfvj {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
}

.VdNWQ {
    margin-right: 8px;
    display: flex;
    width: 50%;
    cursor: pointer;
}

.VdNWQ button {
    color: rgb(0, 0, 0);
    height: 40px;
    font-weight: 400;
    width: 100% !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.hzzFYf {
    display: inline-flex;
    min-width: 85px;
    width: 85px;
    height: 32px;
    padding: 0px 16px 0px 12px !important;
    font-size: 14px !important;
}
.iDFRLW {
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    white-space: nowrap;
    border-radius: 1px;
    margin: 0px;
    border: 0px;
    outline: none;
    font-weight: normal;
    box-sizing: border-box;
    padding: 0px 16px;
    background-color: rgb(240, 240, 240);
    color: rgb(61, 61, 61);
}

.fisrFD {
    display: flex;
    width: 50%;
    height: 40px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 1px;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out 0s;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.scWIP {
    font-size: 16px;
    padding-right: 5px;
}
.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.scWIP svg {
    fill: rgb(61, 61, 61);
    stroke-width: 1px;
    stroke: rgb(158, 158, 158);
    font-size: 12px;
}

.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.kmnGjD {
/*     order: 5; */
/*     width: 100%; */
/*     background-color: rgb(255, 255, 255); */
/*     display: none; */
}

.jDhSeE {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 7px;
}

.gpBnlK {
    -webkit-box-flex: 1;
    flex-grow: 1;
    order: 3;
}

.kzJnkH {
    display: flex;
}

.kzJnkH button:last-of-type {
    margin-right: 0px !important;
}
.gpBnlK button {
    margin: 0px;
}
.hrOCcK {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: auto;
    min-width: auto;
    height: 34px;
    padding: 0px 10px;
}

.boAevj {
    order: 1;
}
.cwWHaU {
    position: relative;
}

.fjOsjq {
    padding: 0.5rem 0px;
}

.dRjoPj {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.dRjoPj > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.dOAQhO svg {
    fill: rgb(109, 109, 109) !important;
}

.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.dOAQhO span {
    display: block;
    font-size: 9px;
    line-height: 9px;
    color: rgb(61, 61, 61);
    margin-top: 5px;
    text-align: center;
}

.fMjnaE {
    padding: 0.5rem 0px;
    margin: 0px 6px;
    order: 2;
    position: relative;
}

.hOlLMG {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    width: 52px;
    height: 52px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.oAZmP {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
}
.fWIYyB {
    font-size: 24px;
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.biBwQk {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    margin: 0px 0.25em 0px 0px;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(231, 231, 231);
    padding: 1em 1.5em;
    font-size: 1em;
    opacity: 1;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.oAZmP svg {
    fill: rgb(109, 109, 109);
}

.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.kBraqG {
    width: 100%;
    height: 56px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
    z-index: 10;
}

.kxemOF {
    width: 100vw;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
}

.hGCHxL {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    float: left;
    margin: 0px 12.5px;
    overflow: auto;
}

.cxytbh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem 0px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 25px;
    cursor: pointer;
}

.cxytbh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem 0px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 25px;
    cursor: pointer;
}

.cbohWb {
    font-size: 0.8rem;
    font-weight: bold;
    margin: -0.2rem -0.1rem 0px 0.2rem;
}

.iixTbK {
    background-color: rgb(255, 255, 255);
    z-index: 900;
    position: fixed;
    left: 0px;
    right: 0px;
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 8px;
    bottom: 0px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
}

.gBopSi {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}

.cwWHaU {
    position: relative;
}

.dRjoPj {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.dRjoPj > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.dOAQhO svg {
    fill: rgb(109, 109, 109) !important;
}
.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.gBopSi button {
    margin-right: 6px !important;
}
.hfmokZ {
    display: flex;
    min-width: 52px;
    height: 52px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.fAjRTB {
    border-radius: 4px;
    margin: 0px 6px 0px 8px;
    padding: 0px;
    box-sizing: border-box;
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(228, 228, 228) !important;
}

.gBopSi button:last-of-type {
    margin-right: 0px !important;
}

.dLDXzY {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: auto;
    min-width: auto;
    padding: 0px 10px;
    height: 52px;
    margin: 0px;
    border-radius: 4px;
}
.kDROMC {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    margin: 0px 0.25em 0px 0px;
    border-radius: 0px;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-color: rgb(250, 100, 98);
    color: rgb(255, 255, 255);
    padding: 1.2em 2em;
    font-size: 1.1em;
    width: 100%;
    opacity: 1;
}

.esQUnR {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 0px;
}

.cEyyoc {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.gSdKJj {
    display: flex;
    flex-wrap: wrap;
}

.hxzuom {
    order: 1;
    width: 100%;
    padding-bottom: 40px;
}

.bhmjON {
    width: 100%;
}

.blvrlR {
    width: 100%;
    padding: 0px 12.5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.gZnims {
    width: 100%;
    height: 60px;
    list-style: none;
    padding: 14px 0px;
    overflow: auto hidden;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
}

.gZnims li {
    list-style: none;
    margin-right: 12px;
}

.gZnims li a.isActive {
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(61, 61, 61);
}

.gZnims li a {
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    border-radius: 23px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    border: 1px solid rgb(240, 240, 240);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.ljUlEU {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
}

.dxfHnh {
    padding: 2rem 12.5px 0px;
    position: relative;
}

.ktoIwn:first-child {
    padding-top: 0px;
}
.ktoIwn {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 32px 0px;
}

.eARawo {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.dxfHnh .storyContent {
    padding: 0px;
    margin: 0px;
}

.dxcJNl {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 32px 0px;
}

.eARawo {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.dxfHnh .storyContent {
    padding: 0px;
    margin: 0px;
}

.eARawo {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.dxfHnh .storyContent {
    padding: 0px;
    margin: 0px;
}

.evGXXa {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.fyAnHx {
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.iMSRJG {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.fyAnHx dl {
    margin: 20px 0px 0px;
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.fyAnHx dl dt {
    color: rgb(61, 61, 61);
    font-weight: 700;
    margin-bottom: 12px;
}

.fyAnHx dl dd {
    color: rgb(109, 109, 109);
    margin: 0px;
}

.fyAnHx dl:last-child {
    padding-bottom: 0px;
}

.fQMHco {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 16px 0px 38px;
}

.fQMHco a {
    font-weight: 700;
    color: rgb(248, 100, 83);
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.fQMHco a svg {
    font-size: 18px;
    fill: rgb(248, 100, 83);
    position: relative;
    top: 3px;
    margin-left: 5px;
}

.kPBcuc svg {
    width: 1em;
    height: 1em;
}

.joCVCp {
    padding: 20px 0px 32px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.iMSRJG {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.joCVCp .policyContents {
    margin-top: 20px;
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.joCVCp {
    padding: 20px 0px 32px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.iMSRJG {
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.joCVCp .policyContents {
    margin-top: 20px;
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.hikIYg {
    padding-top: 30px;
}


.fyoRIv {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    background: transparent;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.fyoRIv svg {
    fill: rgb(109, 109, 109);
}

.fyoRIv span {
    color: rgb(109, 109, 109);
    text-decoration: underline;
    margin: 0px 0px 0px 5px;
}

.byUOaQ {
    order: 2;
    width: 100%;
    margin: 0px;
}

.jIXHGV {
    width: 100%;
}

.lhSlYW {
    display: none;
}

.erjXLJ {
    width: 100%;
    cursor: pointer;
}

.doOMJs {
    display: none;
}

.gOXjRK {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
}

.fpENpF {
    padding: 20px 16px;
}

.dkwthg {
    margin: 0px;
    font-weight: bolder;
    display: none;
}

.erjXLJ img.pc-img {
    display: block;
}
.erjXLJ img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.byUOaQ {
    display: block;
    flex: 0 1 352px;
    max-width: 352px;
    padding-top: 25px;
}
.byUOaQ {
    order: 2;
    width: 100%;
    margin: 0px;
}

.cEyyoc {
    width: 1160px;
}

/* 아래는 창 크기 최대일 때 */

.kxemOF {
    width: 1040px;
    margin: 0px auto;
}
.kxemOF {
/*     width: 100vw; */
    height: 100%;
/*     margin: 0px auto; */
    padding: 0px;
    overflow: hidden;
}

.eKEnRF {
    max-height: 445px;
}

.ePPrSF {
    width: 1032px;
    padding-bottom: 3rem;
    margin: 0px auto;
}
.ePPrSF {
    display: flex;
    flex-wrap: wrap;
}

.dEXpQY .swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.jqMDnB {
    height: 214px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    align-items: center;
    order: 1;
}

.edHMaW {
    text-align: center;
    margin: 0px auto;
    padding: 1rem;
}

.VbzlC {
    font-size: 2.8rem;
    margin: 1.5rem 0px 1rem;
}
.VbzlC {
/*     font-size: 1.6rem; */
    line-height: 1.5;
/*     margin: 1.2rem 0px; */
    word-break: break-all;
}

.gpBnlK button {
    min-width: auto;
    width: auto;
    height: 52px;
}

.kmnGjD {
    display: block;
}
.uWOBe {
    width: 1032px;
    padding-bottom: 3rem;
    margin: 0px auto;
}
.uWOBe {
    display: flex;
    flex-wrap: wrap;
}

.isPUOq {
    height: 214px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    align-items: center;
    order: 1;
}

.kaynwN {
    text-align: center;
    margin: 0px auto;
    padding: 1rem;
}

.fRlUoX {
    width: 594px;
    height: auto;
    order: 2;
}

.fgDPID {
    display: block;
    margin: 0px;
    height: 100%;
}

.eDUSLX {
    overflow-x: visible;
}

.doOMJs {
    display: block;
}

.fpENpF {
    padding: 20px 16px;
}

.dkwthg {
    display: block;
    padding: 5px 0px 20px;
}

.jqFoCK {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.iNlJa-D {
    display: flex;
    -webkit-box-align: start;
    align-items: start;
}

.izmTNc {
    display: inline-block;
    background-image: url(https://tumblbug-upi.imgix.net/d1ba84ac-fa2c-431c-8591-42096be23ae0.jpg?auto=format%2Ccompress&ch=Save-Data&facepad=2.0&fit=facearea&h=200&mask=ellipse&w=200&s=35b43c00e49a05646169abc170de2ba6);
    background-size: cover;
    background-position: 50% 38%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgb(208, 208, 208) 0px 0px 1px 0px inset, rgb(208, 208, 208) 0px 0px 1px 0px;
    margin-right: 1rem;
    margin-top: 5px;
}

.fMjnaE {
    padding: 0.5rem 0px;
    margin: 0px 6px;
    order: 2;
    position: relative;
}

.hOlLMG {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    width: 52px;
    height: 52px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.oAZmP {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
}

.kPBcuc {
    display: inline-flex;
    align-self: center;
}

.oAZmP svg {
    fill: rgb(109, 109, 109);
}

.jDhSeE {
    padding: 0px;
}

.gpBnlK {
    -webkit-box-flex: 1;
    flex-grow: 1;
    order: 3;
}

.kzJnkH {
    display: flex;
}

.kzJnkH button:last-of-type {
    margin-right: 0px !important;
}

.gpBnlK button {
    min-width: auto;
    width: auto;
    height: 52px;
}

.gpBnlK button {
    margin: 0px;
}

.kzJnkH {
    display: flex;
}

.jZceGY {
    display: block;
}

.hLwfvj {
    margin-top: 20px;
}

.hzzFYf {
    display: inline-flex;
    min-width: 104px;
}
    
.hTyhjW svg {
    font-size: 16px;
}

.jeVDzr {
    color: rgb(109, 109, 109);
    margin-bottom: 4px;
    display: block;
    padding: 0px 0px 0px 36px;
}

.jeVDzr {
    padding: 0px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    margin-bottom: 10px;
}

.cMOTuF {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
}

.jeVDzr .RewardCard__StyledSVGIcon-sc-11jni8b-2 {
    font-size: 11px;
    margin: 0px 6px 0px 0px;
}

.jeVDzr .RewardCard__StyledSVGIcon-sc-11jni8b-2 svg {
    fill: rgb(158, 158, 158);
    position: relative;
    top: 2px;
}

.hOKVVV svg {
    width: 1em;
    height: 1em;
}

.edSyxi {
    text-align: right;
    float: right;
}

.nNZhl {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.005em;
    color: rgb(255, 87, 87);
    background-color: rgb(255, 238, 238);
    border-radius: 2px;
    border: 1px solid rgb(255, 188, 188);
    padding: 3px 6px;
}

.nNZhl {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    padding: 5px 8px;
}

.doSKXg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.doSKXg .sub-wrapper {
    flex: 1 1 0%;
}

.cfUWzc {
    color: rgb(61, 61, 61);
}

.hcaxjL {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-weight: bold;
    margin: 0px 0px 2px;
}

.hcaxjL {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
    margin: 0px 0px 6px;
}

.bRlMcL {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
}

.cNnvBP {
    padding: 0px 0px 0px 36px;
    margin: 6px 0px 0px;
    color: rgb(109, 109, 109);
}

.bpVZwd:last-child {
    margin: 0px;
}

.cxeoGo {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    color: rgb(109, 109, 109);
    margin: 10px 0px 0px;
    padding: 0px 0px 0px 36px;
}

.cxeoGo {
    padding: 0px;
}

.gcTNai {
    transition: all 0.4s ease-out 0s;
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

.doBnVx {
    padding: 20px;
}

.eHaKBF {
    color: rgb(109, 109, 109);
    margin-bottom: 4px;
    display: none;
    padding: 0px;
}

.cMOTuF {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
}

.eHaKBF .RewardCard__StyledSVGIcon-sc-11jni8b-2 {
    font-size: 11px;
    margin: 0px 6px 0px 0px;
}

.eHaKBF .RewardCard__StyledSVGIcon-sc-11jni8b-2 svg {
    fill: rgb(158, 158, 158);
    position: relative;
    top: 2px;
}

.hOKVVV svg {
    width: 1em;
    height: 1em;
}

.edSyxi {
    text-align: right;
    float: right;
}

.doSKXg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cfXECD {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.04) 0px 2px 4px;
}

.iqsxGc {
    border-bottom: none;
    margin: 10px 0px 14px;
}

.hgFOaN {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* 모바일 밑 후원하기 버튼 */
.iixTbK {
    display: none;
}

.kmnGjD {
    order: 5;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: none;
}

.kmnGjD {
    display: block;
}

.fMjnaE {
    padding: 0.5rem 0px;
    margin: 0px 6px;
    order: 2;
    position: relative;
}

.hOlLMG {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    width: 52px;
    height: 52px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.oAZmP {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
}

.fWIYyB {
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.biBwQk {
    cursor: pointer;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.eXFpDs {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
    user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    margin: 0px 0.25em 0px 0px;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-color: rgb(250, 100, 98);
    color: rgb(255, 255, 255);
    padding: 1.2em 2em;
    font-size: 1.1em;
    width: 100%;
    opacity: 1;
}

.oAZmP span {
    font-size: 9px;
    line-height: 9px;
    margin-top: 5px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    text-align: center;
}

.hTyhjW svg {
    font-size: 16px;
}

.VdNWQ svg {
    fill: rgb(109, 109, 109);
}

.hTyhjW svg {
    font-size: 12px;
}

.gOXjRK {
    border: 1px solid rgb(239, 239, 239);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.04) 0px 2px 4px;
}

.gOXjRK {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
}

.iWbFFD {
    width: 100%;
    height: auto;
    padding: 24px 0px 0px;
}

.cfXECD {
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: height 0.2s ease 0s, box-shadow 0.2s ease 0s, border 0.2s ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid rgb(239, 239, 239);
}
.cfXECD {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px, rgba(0, 0, 0, 0.04) 0px 2px 4px;
}

.eARawo {
    display: flex;
    color: rgb(13, 13, 13);
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px !important;
    line-height: 28px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.eARawo::before {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background: rgb(61, 61, 61);
    margin-right: 9px;
}

.boXLUs {
    padding: 32px 0px 0px;
    position: relative;
}

.iQqsX dl dt img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0px 9px 2px 0px;
}

/* 1129 푸터 고정 */

#react-view {
	height: auto;
	min-height: 100%;
	padding-bottom: 510px;
	clear: both;
/* 	1211 수정 */
}

footer {
	height:510px;
	position: relative;
	transform: translateY(-100%);
}

.kYvoWT::before {
    content: "·";
    position: absolute;
    font-weight: bold;
    left: 0px;
    top: -1px;
}

#root {
/* 	height: 200px; */
/* 	1212 추가 */
}

.cfXECD:hover {
	border: 1px solid black; 	
}

/* 리워드 선택에 따라 1212 */

/* .gcTNai { */
/*     transition: all 0.4s ease-out 0s; */
/*     opacity: 0; */
/*     left: 100%; */
/*     width: 100%; */
/*     position: absolute; */
/*     overflow-x: hidden; */
/* } */

/* .ehQhai { */
/*     transition: all 0.4s ease-out 0s; */
/*     opacity: 1; */
/*     left: 0%; */
/*     width: 100%; */
/*     position: absolute; */
/*     overflow-x: hidden; */
/* } */


/* 디테일 마감 */

.dMFBNs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    margin-left: 6px;
    padding: 2px 6px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    color: rgb(61, 61, 61);
}

/* 후원 버튼 */

#fund {
    float: right;
    color: white;
    background: rgb(248, 100, 83);
    border: none;
    width: 50px;
    height: 20px;	
}