@charset "UTF-8";

/*********************
	main slider
**********************/

	.slideWrap {
/* 		position: relative; */
		margin: 0 auto;
		text-align: center;
	}
	

	.slider {
		width: 60%;
		margin: 0 auto;
/* 		position: relative; */
	}
	
	
	.slider img {
		width: 61%
/* 		width: 65.3% */
		
	}
	
 	.slideWrap .bx-prev, .slideWrap .bx-next{ 
 		position: absolute; 
 		top: 50%; 
 		transform: translateY(-50%);
 		font-size: 3em;
 	} 
	
  	.slideWrap .bx-prev {  
  		right: calc(100% - 50px);  
  	}  
	
  	.slideWrap .bx-next {  
  		left: calc(100% - 50px);  
  	}  

/*	 pager	 */

	.bx-wrapper .bx-pager {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		font-size: .85em;
		font-family: Arial;
	  	font-weight: bold;
	  	color: #666;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
	  	background: #666;
	  	text-indent: -9999px;
	  	display: block;
	  	width: 10px;
	  	height: 10px;
	  	margin: 0 5px;
	  	outline: 0;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
	  	background: #000;
	}
	
	.bx-wrapper .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	  	display: inline-block;
	  	vertical-align: bottom;
	  	*zoom: 1;
	  	*display: inline;
	}
	.bx-wrapper .bx-pager-item {
	  	font-size: 0;
	  	line-height: 0;
	}
	
/* controls	 */
	.bx-wrapper .bx-controls-auto .bx-start,
	.bx-wrapper .bx-controls-auto .bx-stop {
		position : absolute;
		bottom: 45px;
		transform: translateX(-50%);
	}
	
	.bx-wrapper .bx-controls-auto .bx-start {
		left: calc(100% - 50px);
	
	}
	
	.bx-wrapper .bx-controls-auto .bx-stop {
 		left: calc(96.5%); 
	}
	

/*********************
	main board
**********************/

	.mainList .title {
    display: block;
/*     width: 100px; */
/*     height: 37px; */
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
    font-size: 1.2em;
    color: black;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 20px;
/*     1214 추가 */
}
	
	
	.mainList {
		height: 500px;
		
	}
	
	.boardWrap .bx-wrapper,
	.boardWrap .bx-viewport {
/* 	1214 엄성윤 수정 */
/* 		margin-left: 9px; */
    	height:400px !important;
/*     	max-width: 57%; */
	} 
	
	.boardWrap {
		position: relative;
		height: 500px;
		display: flex;
/*		align-items:center;  위아래 기준 중앙정렬 */
		justify-content:center; /* 좌우 기준 중앙정렬 */
	}
	
	
	.boardWrap li img {
		border-radius: 10px;
 		width: 170px; 
 		height: 250px;
		
	}
	
	.mv-desc {
		item-align: center;
		overflow: hidden; 
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 15px;
		font-weight: 600;
	}
	
	.mv-desc .rate-all {
		background: url("../img/age/all.png") center center no-repeat;
	}
	
	.mv-desc .rate-12 {
		background: url("../img/age/12.png") center center no-repeat;
	}
	
	.mv-desc .rate-15 {
		background: url("../img/age/15.png") center center no-repeat;
	}
	
	.mv-desc .rate-18 {
		background: url("../img/age/18.png") center center no-repeat;
	}
	
	.mv-desc .rate-all, .mv-desc .rate-12, .mv-desc .rate-15, .mv-desc .rate-18 {
    background-size: 23px 23px !important;
    font-weight: bold;
    color: #fff;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    position: relative;
    padding: 0;
    overflow: hidden;
    text-indent: -10000em;
    position: relative;
    top: 4px;
}

 	.boardWrap .bx-controls .bx-prev, .boardWrap .bx-controls .bx-next{ 
 		position: absolute; 
/*  		left: 20%; */
/*  		top: 30%;  */
/* 		1214 추가 */
		top: 19%;
 		transform: translateY(-50%);
 		font-size: 2em;
 	} 
	
  	.boardWrap .bx-prev {  
  		left: 20%;  
  	}  
	
  	.boardWrap .bx-next {  
  		right: 20%;  
  	}  
  	
  	.mainList .boardWrap ul li .over {
		opacity: 0;
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
		width: 170px;
		height: 250px;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.mainList .boardWrap ul li .over.on {
		display: block;
		opacity: 1;
	}
	
	.mainList .boardWrap ul li .over a.rsv {
		display: block;
		width: 170px;
		height: 125px;
		line-height: 137px;
		font-size: 16px;
		color: #f3f3f3;
		font-weight: normal;
/* 		padding-left: 55px; */
		background-color: transparent;
		text-align: center;
	}
	
	.mainList .boardWrap ul li .over a.mvInfo {
		display: block;
		width: 170px;
		height: 125px;
		line-height: 137px;
		font-size: 16px;
		color: #f3f3f3;
		font-weight: normal;
/* 		padding-left: 55px; */
		background-color: transparent;
		text-align: center;
	}
	
	.mainList .boardWrap ul li .over a:hover {
		color: #d8d9f7;
		font-size: 18px;
		font-weight: bold;
	}  	
  	
  .sliderA {
/*     display: block; 링크를 블록 레벨로 설정하여 컨테이너 크기에 맞게 조정 */
/*     width: max-content; 컨텐츠 크기에 맞게 넓힘 */
  }

  .slider li img {
/*     width: 100%; 이미지를 100%의 너비로 설정하여 부모(<a>)의 크기에 맞춤 */
/*     height: auto; 높이는 자동으로 조정하여 가로 비율 유지 */
/*     display: block; 인라인 요소가 아닌 블록 레벨로 설정 */
  }
  
  
