<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.soneson.mapper.AdminMapper">
	

	<!-- 회원 정보 관리 -->
	<update id="updateUserAuthorize">
		<selectKey keyProperty="user_is_admin" resultType="string" order="BEFORE">
			SELECT
				CASE
					WHEN user_is_admin = 'Y' THEN 'N'
					WHEN user_is_admin = 'N' THEN 'Y'
				END
			FROM user
			WHERE user_idx = #{user_idx}
		</selectKey>
		UPDATE user
		SET user_is_admin = #{user_is_admin}
		WHERE user_idx = #{user_idx}
	</update>
	<!-- 회원 정보 관리 끝 -->
	
	
	<!-- 공지 -->
	<insert id="insertNotice">
		INSERT INTO notice
		VALUES (
			null
			, #{notice_title}
			, #{notice_content}
			, now()
		)
	</insert>
	
	<select id="selectNotice" resultType="Notice">
        SELECT
			notice_idx
			, notice_title
			, notice_content
			, notice_writeDate
		FROM notice
		<if test="notice_idx != null and !notice_idx.equals('')">
		WHERE notice_idx = #{notice_idx }
		</if>
		ORDER BY notice_writeDate DESC
    </select>


    <delete id="deleteNotice">
    	DELETE FROM notice
    	WHERE notice_idx = #{notice_idx };
    </delete>
    
    <update id="updateNotice">
    	UPDATE notice
    	SET 
    		notice_title = #{notice_title }
    		, notice_content = #{notice_content }
    	WHERE notice_idx = #{notice_idx };
    </update>
    <!-- 공지 끝 -->
	
    <!-- 이벤트 -->
    <insert id="insertEvent">
    	INSERT INTO event
    	VALUES (
    		null
			, #{event_title}
			, #{event_startDt}
			, #{event_endDt}
			, #{event_poster}
			, #{event_thumbnail}
			, #{event_category}
    	)
    </insert>
    
    <select id="selectEvent" resultType="Event">
    	SELECT
    		e.event_idx
			, e.event_title
			, e.event_startDt
			, e.event_endDt
			, e.event_poster
			, e.event_thumbnail
			, c.eventCate_Subject
    	FROM
    		event e JOIN eventCate c
			ON e.event_category = c.eventCate_Idx
    	<if test="event_idx != null and !event_idx.equals('')">
		WHERE event_idx = #{event_idx}
		</if>
    </select>
    
    <update id="updateEvent">
    	UPDATE event
    	SET
			event_title = #{event_title}
			, event_startDt = #{event_startDt}
			, event_endDt = #{event_endDt}
			, event_poster = #{event_poster}
			, event_thumbnail = #{event_thumbnail}
			, event_category = #{event_category}
		WHERE event_idx = #{event_idx}
    </update>
    
    <delete id="deleteEvent">
    	DELETE FROM event
    	WHERE event_idx = #{event_idx};
    </delete>
    
    
    <!-- 이벤트 카테고리 -->
    <insert id="insertEventCategory">
		INSERT INTO eventCate
		VALUES (
			null
			, #{eventCate_subject}
		)
	</insert>

	<select id="selectEventCategory" resultType="EventCate">
          SELECT 
          	eventCate_idx 
          	, eventCate_subject
          FROM eventCate
    </select>
    
    <delete id="deleteEventCategory">
    	DELETE FROM eventCate
    	WHERE eventCate_subject = #{eventCate_subject}
    </delete>
    <!-- 이벤트 카테고리 끝 -->
    
    
</mapper>