<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.BankMapper">
	<insert id="insertToken">
		INSERT INTO fintech_user_info
		VALUES (#{id}, #{token.access_token}, #{token.user_seq_no})
	</insert>
	
	<select id="selectUserToken" resultType="map">
		SELECT 
			u.user_id
			, u.user_name
			, u.fintech_use_num 
			, u.tranDTime 
			, f.access_token 
			, f.user_seq_no 
			, fund.cost
			, fund.status
<!-- 			, fund.idx AS test -->
			, CAST(fund.idx AS char(10)) as fundIdx
		FROM user_fund_info u
		JOIN fintech_user_info f
		ON u.user_id = f.id
		JOIN fund fund
		ON u.user_id = fund.user_id
		WHERE u.project_code = #{project_code}
	</select>
	
	<update id="updateFundStatus">
		UPDATE fund
		SET status = "결제성공"
		WHERE idx = #{fundIdx}
	</update>
	
	<select id="selectStandByPaymentProject" resultType="map">
		<![CDATA[
			select 
				project_code
				, title
				, creator
				, date_format(DATE_ADD(end_date, INTERVAL 1 day), '%Y-%m-%d') as payment_date
				, (select SUM(cost)
						from fund f
						where p.project_code = f.project_code) as total_cost
			From project p
			WHERE 
				now() BETWEEN  end_date and DATE_ADD(end_date, INTERVAL 8 day)
				AND goal_amount <= (select SUM(cost)
									from fund f
									where p.project_code = f.project_code)
		]]>
	</select>
	
	<select id="selectStandByRefundProject" resultType="map">
		<![CDATA[
		select 
		    p.project_code
		    , title
		    , creator
		    , date_format(DATE_ADD(end_date, INTERVAL 1 day), '%Y-%m-%d') as payment_date
		    , (select SUM(cost)
		                        from fund f
		                        where 
		                            p.project_code = f.project_code
		                            AND status = "결제성공") as total_cost
		    , TRUNCATE((select (SUM(cost) - (SUM(cost) * 0.088))
		                        from fund f
		                        where 
		                            p.project_code = f.project_code
		                            AND status = "결제성공"), 0) as real_cost
		From project p
		JOIN creator_account ca 
		ON p.project_code = ca.project_code 
		WHERE 
		    now() BETWEEN DATE_ADD(end_date, INTERVAL 8 day) and DATE_ADD(end_date, INTERVAL 15 day)
		    AND goal_amount <= (select SUM(cost)
		                        from fund f
		                        where p.project_code = f.project_code)
			AND ca.status = "입금대기"
		]]>
	</select>
	
	<!-- 토큰 존재여부확인 -->
	<select id="selectExistAccessToken" resultType="int">
		select count(*)
		from fintech_user_info fui 
		where id = #{id};
	</select>
	
	<update id="updateToken">
		UPDATE fintech_user_info 
		SET access_token = #{token.access_token}
		WHERE id = #{id}
	</update>
	
	
	<select id="selectCreatorToken" resultType="map">
		SELECT 
			ca.user_id
			, ca.user_name
			, ca.fintech_use_num 
			, f.access_token 
<!-- 			, CAST(fund.idx AS char(10)) as fundIdx -->
		FROM creator_account ca 
		JOIN fintech_user_info f
		ON ca.user_id = f.id
		WHERE ca.project_code = #{project_code}
<!-- 		WHERE ca.project_code = 68 -->
	</select>
	
	<update id="updateCreatorStatus">
		UPDATE creator_account 
		SET status = '입금완료' WHERE project_code = #{project_code};
<!-- 		SET status = '입금완료' WHERE project_code = 68; -->
	</update>
	
	
</mapper>






























