<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.BankMapper">
	<insert id="insertToken">
		INSERT INTO fintech_user_info
		VALUES (#{id}, #{token.access_token}, #{token.user_seq_no})
	</insert>
	
	<select id="selectUserToken" resultType="map">
		SELECT 
			u.user_id
			, u.user_name
			, u.fintech_use_num 
			, u.tranDTime 
			, f.access_token 
			, f.user_seq_no 
			, fund.cost
			, fund.status
		FROM user_fund_info u
		JOIN fintech_user_info f
		ON u.user_id = f.id
		JOIN fund fund
		ON u.user_id = fund.user_id
		WHERE u.project_code = 50
	</select>
</mapper>






























