<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.FundingMapper">
	<!-- 해당 프로젝트 정보 -->
	<select id="selectproject" resultType="map">
		SELECT project_code
				, title
				, category
				, img_main
				, SUBSTRING_INDEX(end_date , ' ', 1) AS end_date
		FROM project  
		WHERE project_code = #{pro_code}
	</select>
	
	<!-- 선택 리워드정보 -->
	<select id="selectReward" resultType="map">
		SELECT reward_code
				, reward_item_name
				, reward_explain
				, reward_isCount 
				, reward_count
				, reward_isDeliv 
				, reward_amount 
		FROM pro_reward pr 
		WHERE pro_code = #{pro_code} AND reward_code = #{reward_code};
	</select>
	
	<!-- 유저배송정보 -->
	<select id="selectUser" resultType="map">
		SELECT user_phone
				, user_email
				, address_idx
				, address_code 
				, address_main 
				, address_sub
				, address_reciver 
				, address_reciver_phone 
		FROM `user` u LEFT JOIN address a 
		ON u.user_id = a.user_id 
		WHERE u.user_id = #{sId}
		LIMIT 1
	</select>

	<!-- 유저배송목록 -->
	<select id="selectAddress">
		SELECT address_idx 
				, address_reciver 
				, address_code 
				, address_main 
				, address_sub 
				, address_reciver_phone 
		FROM address
		WHERE user_id = #{sId}
	</select>
	
	
	<!-- 후원유저저장 -->
	<insert id="insertUserFund">
		INSERT INTO fund 
		VALUES (
			NULL
			, lpad(floor(rand() * 1000000), 6, '0')
			, #{project_code}
			, #{user_id}
			, CAST(REPLACE(#{reward_amount}, ',', '') AS UNSIGNED)
			, now()
			, #{reward_code}
		);
	</insert>
	
	<!-- 후원Auth저장 -->
	<insert id="insertUserAuth">
		INSERT INTO user_fund_info
		VALUES (
			#{user_id}
			, #{project_code}
			, #{user_name}
			, #{finNumber}
			, #{pay_startDt}
		)
	</insert>
	
	<!-- 후원창에서 배송지등록 -->
	<insert id="insertAddress">
		<selectKey keyProperty="address_idx" resultType="Integer" order="AFTER">
	    	SELECT LAST_INSERT_ID() AS address_idx
	    	<!-- 마지막 auto_increment 값 가져옴 -->
		</selectKey>
		INSERT INTO address 
		VALUES (
			NULL
			, #{user_id }
			, #{address_reciver }
			, #{address_code }
			, #{address_main }
			, #{address_sub }
			, #{address_reciver_phone }
		);
		
	</insert>
	
	<!-- 후원Address저장 -->
	<insert id="insertUserAddress">
		INSERT INTO user_fund_address
		VALUES (
			#{user_id}
			, #{project_code}
			, #{address_idx}
		)
	</insert>
	
	

</mapper>