<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.FundingMapper">
	<!-- 해당 프로젝트 정보 -->
	<select id="selectproject" resultType="map">
		SELECT project_code
				, title
				, category
				, img_main
				, SUBSTRING_INDEX(end_date , ' ', 1) AS end_date
		FROM project  
		WHERE project_code = #{pro_code}
	</select>
	
	<!-- 선택 리워드정보 -->
	<select id="selectReward" resultType="map">
		SELECT reward_code
				, reward_item_name
				, reward_explain
				, reward_isCount 
				, reward_count
				, reward_isDeliv 
				, reward_amount 
		FROM pro_reward pr 
		WHERE pro_code = #{pro_code} AND reward_code = #{reward_code};
	</select>
	
	<!-- 유저배송정보 -->
	<select id="selectUser" resultType="map">
		SELECT user_phone
				, user_email
				, address_idx
				, address_code 
				, address_main 
				, address_sub
				, address_reciver 
				, address_reciver_phone 
		FROM `user` u LEFT JOIN address a 
		ON u.user_id = a.user_id 
		WHERE u.user_id = #{sId}
		LIMIT 1
	</select>

	<!-- 유저배송목록 -->
	<select id="selectAddress">
		SELECT address_idx 
				, address_reciver 
				, address_code 
				, address_main 
				, address_sub 
				, address_reciver_phone 
		FROM address
		WHERE user_id = #{sId}
	</select>
	
	
	<!-- 후원유저저장 -->
	<insert id="insertUserFund">
		INSERT INTO fund 
		VALUES (
			NULL
			, lpad(floor(rand() * 1000000), 6, '0')
			, #{project_code}
			, #{user_id}
			, CAST(REPLACE(#{reward_amount}, ',', '') AS UNSIGNED)
			, now()
			, #{reward_code}
			, '결제대기중'
		);
	</insert>
	
	<!-- 후원Auth저장 -->
	<insert id="insertUserAuth">
		INSERT INTO user_fund_info
		VALUES (
			#{user_id}
			, #{project_code}
			, #{user_name}
			, #{finNumber}
			, #{pay_startDt}
		)
	</insert>
	
	<!-- 후원창에서 배송지등록 -->
	<insert id="insertAddress">
		<selectKey keyProperty="address_idx" resultType="Integer" order="AFTER">
	    	SELECT LAST_INSERT_ID() AS address_idx
	    	<!-- 마지막 auto_increment 값 가져옴 -->
		</selectKey>
		INSERT INTO address 
		VALUES (
			NULL
			, #{user_id }
			, #{address_reciver }
			, #{address_code }
			, #{address_main }
			, #{address_sub }
			, #{address_reciver_phone }
		);
		
	</insert>
	
	<!-- 후원Address저장 -->
	<insert id="insertUserAddress">
		INSERT INTO user_fund_address
		VALUES (
			#{user_id}
			, #{project_code}
			, #{address_idx}
		)
	</insert>
	
	
	<!-- 후원현황 -->
	<select id="selectUserFundingList" resultType="map">
		SELECT *
		FROM 
			(SELECT
				p.project_code AS project_code
				, p.title AS title
				, p.subtitle AS subtitle
				, p.category AS category
				, p.creator AS creator
				, p.img_main AS img_main
				, p.status AS status
				, f.status AS status2
				, f.fund_code AS fund_code
				, f.user_id AS user_id
				, f.fund_date AS fund_date
				, f.cost AS cost
				, date(p.start_date) AS start_date
				, date(p.end_date) AS end_date
				, CASE
					  WHEN (DATEDIFF(end_date, now()) >= 0) THEN CONCAT(DATEDIFF(end_date, now()), '일 남음')
					  WHEN (DATEDIFF(end_date, now()) = 0) THEN '오늘 종료'
					  ELSE '종료 됨'
				  END AS d_day
			FROM project p
			LEFT JOIN fund f
			ON p.project_code = f.project_code) a
		<![CDATA[
		WHERE start_date <= now()  AND status2 = '결제대기중' AND user_id = #{sId} 
		]]>
		ORDER BY fund_date desc
		LIMIT 5
	</select>
<!-- 	AND status = '승인' -->
	<!-- 펀드 테이블 데이터 삭제 -->
	<delete id="deleteFundCount">
		DELETE 
		FROM fund 
		WHERE project_code = #{project_code} AND user_id = #{sId} 
	</delete>

	<!-- 주소 삭제 -->
	<delete id="deleteAddressCount">
		DELETE 
		FROM user_fund_address 
		WHERE project_code = #{project_code} AND user_id = #{sId} 
	</delete>

	<!-- 인포데이터 삭제 -->
	<delete id="deleteInfoCount">
		DELETE 
		FROM user_fund_info 
		WHERE project_code = #{project_code} AND user_id = #{sId} 
	</delete>

	<select id="selectUserCount" resultType="int">
		SELECT count(*)
		FROM fund 
		WHERE project_code = #{project_code} and user_id = #{user_id}
	</select>

	<!-- 펀딩한 유저 수  -->
	<select id="selectFundCount" resultType="int">
		SELECT count(*)
		FROM fund 
		WHERE project_code = #{project_code}
	</select>

	<!-- 펀딩 상세페이지  -->
	<select id="selectfundingDetail" resultType="map">
		SELECT DISTINCT *
		  FROM fund f
		  JOIN project p 
		    ON f.project_code = p.project_code 
		  JOIN user_fund_address ufa 
		    ON p.project_code = ufa.project_code
		  JOIN address a
		    ON ufa.address_idx = a.address_idx 
		 WHERE f.project_code = #{project_code}
		   AND f.user_id = #{sId}
		   AND a.address_reciver = (SELECT a.address_reciver from user u 
								      JOIN address a 
							 	        ON u.user_id = a.user_id where u.user_id = #{sId}
						 		     LIMIT 1)	 
	</select>




</mapper>