<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.ProjectMapper">
	
	<select id="selectProjectList" resultType="Project">
		SELECT *
		FROM project
	</select>
	
	<!-- 프로젝트 등록 start페이지 -->
	<select id="selectIdProj" resultType="Project">
		SELECT pro_idx, user_id, pro_title
		FROM sample_pro 
		WHERE user_id = #{sId}
		ORDER BY pro_idx asc
		Limit 1
	</select>
	
	<!-- 이어쓰기 -->
	<select id="selectProject" resultType="Project">
		SELECT *
		FROM sample_pro
		WHERE user_id = #{user_id} AND pro_idx = #{pro_idx}
	</select>
	
	
	
	<!-- 약관동의 후 insert -->
	<insert id="insertStartProj">
		INSERT INTO sample_pro(
			pro_idx
			, user_id
			, pro_categorie
			, pro_title
			, pro_agree
		)
		VALUES (
			null
			,#{user_id}
			, #{pro_categorie}
			, #{pro_title}
			, 'Y'
		)
	</insert>
	
	<!-- 저장하기 -->
	<update id="updateProject">
		
	</update>
	
	
	
</mapper>

