<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.soneson.mapper.ProjectMapper">
	
	<select id="selectProjectList" resultType="Project">
		SELECT *
		FROM project
	</select>
	
	<!-- 프로젝트 등록 start페이지 -->
	<select id="selectIdProj" resultType="Project">
		SELECT pro_code, user_id, pro_title
		FROM sample_pro 
		WHERE user_id = #{sId}
		ORDER BY pro_code asc
		Limit 1
	</select>
	
	<!-- 이어쓰기 -->
	<select id="selectProject" resultType="Project">
		SELECT *
		FROM sample_pro
		WHERE user_id = #{user_id} AND pro_code = #{pro_code}
	</select>
	
	
	
	<!-- 약관동의 후 insert -->
	<insert id="insertStartProj">
		INSERT INTO sample_pro(
			pro_code
			, user_id
			, pro_categorie
			, pro_title
			, pro_agree
		)
		VALUES (
			null
			,#{user_id}
			, #{pro_categorie}
			, #{pro_title}
			, 'Y'
		)
	</insert>
	
	
	<!-- 저장 전 파일명 가져오기 -->
	<select id="selectFileName" resultType="Project">
		SELECT pro_thumbsnail
				,pro_content
				,pro_budget
				,pro_sch
				,pro_team
				,pro_reward
				,pro_profile
		FROM sample_pro
		WHERE pro_code = #{pro_code}
	</select>
	
	
	<!-- 저장하기 -->
	<update id="updateProject">
		UPDATE sample_pro
		SET
			pro_title = #{pro_title}
			, pro_categorie = #{pro_categorie}
			, pro_summary = #{pro_summary}
			, pro_thumbsnail = #{pro_thumbsnail}
			, pro_goal = #{pro_goal}
			, pro_startDt = #{pro_startDt}
			, pro_EndDt = #{pro_EndDt}
			, pro_content = #{pro_content}
			, pro_budget = #{pro_budget}
			, pro_sch = #{pro_sch}
			, pro_team = #{pro_team}
			, pro_reward = #{pro_reward}
			, pro_notice = #{pro_notice}
			, pro_creator = #{pro_creator}
			, pro_profile = #{pro_profile}
			, pro_createrInfo = #{pro_createrInfo}
			, pro_userAuth = #{pro_userAuth}
		WHERE pro_code = #{pro_code}
			
	</update>
	
	
	
</mapper>

