<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.soneson.mapper.QnaMapper">

	<!-- 자주 묻는 질문 목록 조회 -->
	<select id= "selectQnaList" resultType="Qna">
		-- selectQnaList
		SELECT
			q.qna_idx
			, q.qna_title
			, q.qna_content
			, q.qna_category
			, c.qnaCate_subject 
		FROM
			qna q JOIN qnaCate c
			ON q.qna_category = c.qnaCate_idx
		<if test="qnaCate_idx != -1">
		WHERE qnaCate_idx = #{qnaCate_idx}
		</if>
		ORDER BY qna_idx
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	
	<!-- 자주 묻는 질문 목록 수 조회 -->
	<select id= "selectQnaListCount">
		-- selectQnaList
		SELECT COUNT(*)
		FROM qna
		<if test="qnaCate_idx != -1">
		WHERE qna_category = #{qnaCate_idx}
		</if>
	</select>
	
	
	<!-- 자주 묻는 질문 카테고리 조회 -->
	<select id="selectQnaCateList" resultType="QnaCate">
		-- selectQnaList
		SELECT 
			qnaCate_idx
			, qnaCate_subject
		FROM qnaCate
	</select>
	<!-- 자주 묻는 질문 끝 -->
    
</mapper>