@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 폰트 냅다 박음 */
*, body {
	font-family: NotoSansKR, 'Noto Sans KR', "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
/* 	font-family: 'Noto Sans KR', sans-serif; */
}



.headerSoneson {
  position: relative;
  z-index: 30;
}

:global .is-scroll {
  padding-top: 70px;
}

:global .is-scroll [class*=gnb] {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  border-bottom: 1px solid #e8e8e8;
}

.gnb {
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
  text-align: right;
}

.inner {
  position: relative;
  width: 1140px;
  height: 70px;
  margin: 0 auto;
}

.inner::after {
  display: table;
  table-layout: fixed;
  clear: both;
  content: "";
}

.logo {
  float: left;
  margin-top: 21px;
}

.logo svg {
  display: inline-block;
  vertical-align: top;
}

.btn_search {
  display: inline-block;
  margin-top: 24px;
  vertical-align: top;
}

/* 내가 추가 */
.FundingCard_wrap__3sCFN:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.11);
    content: "";
}

.Header_header__3lTua {
    position: relative;
    z-index: 30;
}

.Header_gnb__122-B {
/*     border-bottom: 1px solid #f0f0f0; */
    background-color: #fff;
    text-align: right;
}

.Header_inner__3RznR {
    position: relative;
    width: 1140px;
/*     height: 70px; */
    margin: 0 auto;
}

.Header_logo__3iS1b {
    float: left;
    margin-top: 21px;
/*     20231128 추가 */
    clear: both;
}

.Header_btn_search__2NxHd, .Header_logo__3iS1b svg {
    display: inline-block;
    vertical-align: top;
}

/* .Header_logo__3iS1b { */
/*     float: left; */
/*     margin-top: 21px; */
/* } */



.HeaderUserProfile_img__fxGyI {
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    vertical-align: middle;
}

.HeaderUserProfile_id__3e8GE {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.HeaderUserProfile_id__3e8GE .HeaderUserProfile_ellipsis__1iBvz {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 88px;
    vertical-align: top;
}

.HeaderUserProfile_id__3e8GE .HeaderUserProfile_ellipsis__1iBvz {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 88px;
/*     vertical-align: middle; */
}

.HeaderUserProfile_bar__1OPU2 {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 28px 12px 0;
    background-color: #d8d8d8;
    vertical-align: top;
}

.HeaderUserProfile_btn_login__F6x9v {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 26px;
    vertical-align: top;
    color: #333;
}

.HeaderUserProfile_bar__1OPU2 {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 28px 12px 0;
    background-color: #d8d8d8;
    vertical-align: top;
}

.Header_btn_search__2NxHd {
    margin-top: 24px;
}

.Header_btn_search__2NxHd, .Header_logo__3iS1b svg {
    display: inline-block;
    vertical-align: top;
}

/* startAgree 체크박스 안보여서 지움 1128 */
/* .blind, input[type=checkbox], input[type=radio] { */
/*     overflow: hidden; */
/*     position: absolute; */
/*     width: 1px; */
/*     height: 1px; */
/*     margin: -1px; */
/*     clip: rect(0 0 0 0); */
/* } */

.Header_btn_search__2NxHd {
    margin-top: 24px;
}

.Header_btn_search__2NxHd, .Header_logo__3iS1b svg {
    display: inline-block;
    vertical-align: top;
}

.HeaderGnb_item__wcfir {
    display: inline-block;
    padding: 0 15px;
/*     글씨체 1127 */
/*     padding: 0 25px; */
/*     font-family: NanumSquareWebFont,dotum,Sans-serif; */
/*     font-family: SpoqaHanSans !important; */
/*     font-size: 20px; */
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    color: #000;
}

/* .HeaderGnb_menu__1fvV3 { */
/*     position: absolute; */
/*     top: 23px; */
/*     right: 100px; */
/*     left: 100px; */
/*     text-align: center; */
/* } */

.HeaderUserProfile_wrap__3FD8V {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 20px -2px 0 0;
    line-height: 30px;
}

.HeaderGnb_item__wcfir:focus, .HeaderGnb_item__wcfir:hover {
    color: #F86453;
}

/* .HeaderGnb_item__wcfir:focus, .HeaderGnb_item__wcfir:hover, .HeaderGnb_item__wcfir[aria-current=true] { */
/*     color: #F86453; */
/* } */

/* .HeaderGnb_menu__1fvV3 { */
/*     position: absolute; */
/*     top: 110px; */
/*     right: 100px; */
/*     left: 0; */
/*     width: 51%; */
/* } */

/* .HeaderGnb_menu__1fvV3 { */
/*     position: absolute; */
/*     top: 115px; */
/*     right: 100px; */
/*     left: 50; */
/*     width: 54.5%; */
/*     width: 62.5%; */
/* } */
.HeaderGnb_item__wcfir {
    line-height: 23px;
/*     line-height: 43px; */
}

.HeaderGnb_item__wcfir.category {
	padding-left: 10px;
}

/* 1222 추가 */

.HeaderGnb_menu__1fvV3 {
    width: 100%;
    float: left;
/*     margin-top: 0.4em; */
    height: fit-content;
}

	#root {
	    height: 160px;
	    background: white;
	}
	
	.package_img {
		vertical-align: top;
	}
	
	.DonationTodayCategory_wrap__k2rtu {
/* 	    position: relative; */
	    margin-top: 30px;
	}
	
	.DonationTodayCategory_category_list__2WAdE {
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    white-space: nowrap;
	    width: 75%;
/* 	    width: 81%; */
	}
	.DonationTodayCategory_button__1648s {
	    display: block;
	    height: 42px;
	    padding: 0 12px 0 10px;
	    border: 1px solid #eee;
	    border-radius: 30px;
	}
	.DonationTodayCategory_category_list__2WAdE .item_1 .DonationTodayCategory_button__1648s:before {
	    background-image: url(/build/static/media/icon_category_1.2f477b61.svg);
	}
	.DonationTodayCategory_list_item__agFbi .DonationTodayCategory_button__1648s:before {
	    display: inline-block;
	    width: 27px;
	    height: 27px;
	    margin-right: 4px;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    vertical-align: middle;
	    content: "";
	}
	
	.DonationTodayCategory_list_item__agFbi[aria-current=true] .DonationTodayCategory_button__1648s {
	    background-color: #F86453;
	    border-color: #F86453;
	}
	
	
/* 1122 추가 */

#root {
    height: 160px;
    background: white;
}

.Header_header__3lTua {
    position: relative;
    z-index: 30;
    width: 66%;
    margin: 0 auto;
}

.Header_gnb__122-B {
    /* border-bottom: 1px solid #f0f0f0; */
    background-color: #fff;
    text-align: right;
/*     1128 수정 */
/*     height: 8em; */
}

.Header_inner__3RznR {
    /* position: relative; */
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    clear: both;
/*     헤더 폰트 사이즈 */
/*     font-size: 0.9em; */
    font-size: 13px;
}


.DonationTodayCategory_wrap__k2rtu {
    position: absolute;
    /* position: relative; */
    /* margin-top: 30px; */
    /* width: 85%; */
    clear: both;
    margin-top: 3.3em;
    background: white;
/*     padding-bottom: 1.3em; */
    width: 100%;
}

.DonationTodayCategory_category_list__2WAdE {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    
    justify-content: space-between;
    white-space: nowrap;
    /* margin: 0 auto; */
/*     width: 81%; */
/*     width: 88%; */
    float: left;
/*     1128 삭제 */
/*     padding-bottom: 1.1em; */
}

/* 1128 충돌 나서 삭제 */
/* body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { */
/*     margin: 0 auto; */
/*     padding: 0px; */
/* } */

body {
/* 	margin: 0 auto; */
/* 	padding: 0px; */
}

.DonationTodayCategory_text__2oRHp {
    display: inline-block;
    font-family: "NanumSquareNeo"!important;
/*     1129 폰트 수정 */
    font-size: 13px;
    margin-top: 1px;
    vertical-align: middle;
}


.goKAXE:focus, .goKAXE:hover {
	fill:#F86453;
}

.DonationTodayCategory_category_list__2WAdE .item_1 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_8.f2468755.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_2 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_2.56c06e20.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_3 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_9.c4c27110.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_4 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_10.d63d5fa4.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_5 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_4.77e301b7.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_6 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_7.557e9b0b.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_7 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_3.34a96925.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_8 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_8.f2468755.svg);
}
.DonationTodayCategory_category_list__2WAdE .item_9 .DonationTodayCategory_button__1648s:before {
    background-image: url(https://happybean.naver.com/build/static/media/icon_category_11.8b149026.svg);
}



/* .DonationTodayCategory_wrap__k2rtu { */
/*     position: absolute; */
/*     clear: both; */
/*     margin-top: 3.3em; */
/*     background: white; */
/*     width: 100%; */
/*     max-height: 0px; */
/*     transition: max-height 0.3s ease-in-out 0s; */
/* } */

/* .cateShow { */
/* 	min-height: 100px; */
/* 	position: absolute; */
/*     clear: both; */
/*     width: 100%; */
/*     background: white; */
/*     width: 100%; */
/*     transition: max-height 0.3s ease-in-out 0s; */
/* } */




.ehJwom {
    padding: 0px 6px;
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
}


.kRrXyo {
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
    padding: 0px 2px;
    font-size: 14px;
}



.DonationTodayCategory_button__1648s:hover {
    border-color: #999;
}

/* .package_img { */
/*     vertical-align: middle; */
/* } */

/* 로고 올라가서 추가 */

.Header_logo__3iS1b {
    float: left;
    margin-top: 21px !important;
    
    clear: both;
}

.DonationTodayCategory_wrap__k2rtu {
	z-index: 1000 !important;	
}

/* 헤더 사이즈 줄임 */
.Header_header__3lTua {
    width: 61%;
}

/* 왜 자꾸 오른쪽으로 갈까? */
*, *:before, *:after {
  box-sizing: border-box;
}

#wrapper {
	clear:both;
}

.blind {
	display: none;
}


/* extended 메뉴 */
.DonationTodayCategory_wrap__k2rtu {
	display: none;
}
.DonationTodayCategory_wrap__k2rtu {
	margin-top: 2.5em;
}

/* 승철 */
#root {
	width: 100%;
}

